= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :lastk
    = f.text_field :lastk
    .field
    = f.label :firstk
    = f.text_field :firstk
    .field
    = f.label :lastf
    = f.text_field :lastf
    .field
    = f.label :firstf
    = f.text_field :firstf
    .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :phone
    = f.text_field :phone
    .field
    = f.label :mailadress
    = f.text_field :mailadress
  .actions
    = f.submit 'Save'
